harvester:
  repos:
    # Studies
    - oaiConfiguration:
        url: https://colectica.nsd.no/oai/request
        metadataPrefix: oai_ddi32
        setSpec: 30ea0200-7121-4f01-8d21-a931a182b86d
    # Series
    - oaiConfiguration:
        url: https://colectica.nsd.no/oai/request
        metadataPrefix: oai_ddi32
        setSpec: 4bd6eef6-99df-40e6-9b11-5b8f64e5cb23
    # Question Grids
    - oaiConfiguration:
        url: https://colectica.nsd.no/oai/request
        metadataPrefix: oai_ddi32
        setSpec: a1b8a30e-2f35-4056-8467-40e7ed0e7379
    # Question Constructs
    - oaiConfiguration:
        url: https://colectica.nsd.no/oai/request
        metadataPrefix: oai_ddi32
        setSpec: f433e43d-29a4-4c25-9610-9dd9819a0519
    # Questions
    - oaiConfiguration:
        url: https://colectica.nsd.no/oai/request
        metadataPrefix: oai_ddi32
        setSpec: a1bb19bd-a24a-4443-8728-a6ad80eb42b8
