harvester:
  repos:
  - oaiConfiguration:
      url: https://oar.tib.eu/oai/oaiwgl
      metadataPrefix: oai_wgl
  - oaiConfiguration:
      url: https://journals.ub.uni-heidelberg.de/index.php/azgnm/oai
      metadataPrefix: oai_wgl
  - oaiConfiguration:
      url: https://journals.ub.uni-heidelberg.de/index.php/kulturgut/oai
      metadataPrefix: oai_wgl
  - oaiConfiguration:
      url: https://books.ub.uni-heidelberg.de/index.php/arthistoricum/oai
      metadataPrefix: oai_wgl
  - oaiConfiguration:
      url: https://journals.ub.uni-heidelberg.de/index.php/ma/oai
      metadataPrefix: oai_wgl
  - oaiConfiguration:
      url: https://books.ub.uni-heidelberg.de/index.php/propylaeum/oai
      metadataPrefix: oai_wgl
      setSpec: propylaeum:byzanzoo
  - oaiConfiguration:
      url: https://journals.ub.uni-heidelberg.de/index.php/jahrb-rgzm/oai
      metadataPrefix: oai_wgl
  - oaiConfiguration:
      url: http://repository.gei.de/oai/request
      metadataPrefix: oai_wgl
  - oaiConfiguration:
      url: http://open.ifz-muenchen.de/api/v0/oai
      metadataPrefix: oai_wgl
  - oaiConfiguration:
      url: http://www.die-bonn.de/oai/default.aspx
      metadataPrefix: oai_wgl
      setSpec: oadie
  - oaiConfiguration:
      url: http://archiv.ub.uni-heidelberg.de/artdok/cgi/oai2
      metadataPrefix: oai_wgl
      setSpec: WGL
  - oaiConfiguration:
      url: https://digital.herder-institut.de/publications/oai
      metadataPrefix: oai_wgl
      setSpec: wglsubject
  - oaiConfiguration:
      url: https://ids-pub.bsz-bw.de/oai
      metadataPrefix: oai_wgl
      setSpec: WglSubject
  - oaiConfiguration:
      url: https://www.psycharchives.org/oai/request
      metadataPrefix: oai_wgl
  - oaiConfiguration:
      url: https://drops.dagstuhl.de/opus/phpoai/oai2.php
      metadataPrefix: oai_wgl
  - oaiConfiguration:
      url: https://www.pedocs.de/oai2/oai2.php
      metadataPrefix: oai_wgl
  - oaiConfiguration:
      url: https://www.ssoar.info/OAIHandler/wgl
      metadataPrefix: oai_wgl
      setSpec: WGL
  - oaiConfiguration:
      url: https://oar.tib.eu/oai/oaiwgl
      metadataPrefix: oai_wgl
  - oaiConfiguration:
      url: http://frl.publisso.de/oai-pmh
      metadataPrefix: oai_wgl
  - oaiConfiguration:
      url: https://zeitgeschichte-digital.de/doks/oai
      metadataPrefix: oai_wgl
      setSpec: open_access
  - oaiConfiguration:
      url: http://www.econstor.eu/oai/request
      metadataPrefix: oai_wgl
      setSpec: col_10419_157390
  - oaiConfiguration:
      url: http://www.econstor.eu/oai/request
      metadataPrefix: oai_wgl
      setSpec: col_10419_48632
  - oaiConfiguration:
      url: http://www.econstor.eu/oai/request
      metadataPrefix: oai_wgl
      setSpec: col_10419_48633
  - oaiConfiguration:
      url: http://www.econstor.eu/oai/request
      metadataPrefix: oai_wgl
      setSpec: col_10419_48634
  - oaiConfiguration:
      url: http://www.econstor.eu/oai/request
      metadataPrefix: oai_wgl
      setSpec: col_10419_48635
  - oaiConfiguration:
      url: http://www.econstor.eu/oai/request
      metadataPrefix: oai_wgl
      setSpec: col_10419_48636
  - oaiConfiguration:
      url: http://www.econstor.eu/oai/request
      metadataPrefix: oai_wgl
      setSpec: col_10419_48637
  - oaiConfiguration:
      url: http://www.econstor.eu/oai/request
      metadataPrefix: oai_wgl
      setSpec: col_10419_213320
  - oaiConfiguration:
      url: http://www.econstor.eu/oai/request
      metadataPrefix: oai_wgl
      setSpec: col_10419_213349
  - oaiConfiguration:
      url: http://www.econstor.eu/oai/request
      metadataPrefix: oai_wgl
      setSpec: col_10419_48638
  - oaiConfiguration:
      url: http://www.econstor.eu/oai/request
      metadataPrefix: oai_wgl
      setSpec: col_10419_48639
  - oaiConfiguration:
      url: http://www.econstor.eu/oai/request
      metadataPrefix: oai_wgl
      setSpec: col_10419_8
  - oaiConfiguration:
      url: http://www.econstor.eu/oai/request
      metadataPrefix: oai_wgl
      setSpec: col_10419_59810
  - oaiConfiguration:
      url: http://pub.zbw.eu/dspace-oai/request
      metadataPrefix: oai_wgl
      setSpec: open_access
  - oaiConfiguration:
      url: https://journals.ub.uni-heidelberg.de/index.php/ak/oai
      metadataPrefix: oai_wgl
